h1,footer,h2{
    text-align: center;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content:center;
}

.container1{
    display:flex;
    justify-content:center;
    margin-top:0px;
    margin-bottom: 2px;
}
#displaytext{
    margin-top: 0px;
}
button{
    background-color: white;
    border:0px;
    padding:0px;
}
button:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
#pscore,#cscore{
    padding-left: 10px;
    padding-right: 10px;
}
#playerdisplay,#playertext{
    margin-right: auto;
}
#computerdisplay,#computertext{
    margin-left: auto;
}
.header{
    display: flex;
    justify-content: center;
}
#playerdisplay{
    color:white;
}